*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 95px;
    overflow-x: hidden;
}

body::before {
    position: fixed;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    transform: scale(1.05);
    background-image: url(../images/new-1158093603-612x612.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0); 
}

body {
    position: relative;
    font-family: 'Rubik', sans-serif;
    color: rgb(244, 244, 244);
}

a {
    text-decoration: none;
    color: rgb(244, 244, 244);
}

.navbar {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: 	#282b30;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.navbar ul {
    display: flex;
    gap: 5rem;
    list-style-type: none;
    font-size: 1.3rem;
}

.navbar li {
    transition: 0.15s ease;
    opacity: 0.5;
}

.navbar li:hover {
    color: white;
    transform: scale(1.05);
    text-shadow: 0px 0px 5px rgba(255, 233, 134, 0.3);
    opacity: 1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65rem;
}

header img {
    padding-bottom: 4rem;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

#join-button-main {
    background: rgb(30, 158, 53);
    background-repeat: no-repeat;
    font-size: 1.75rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 3rem;
    margin-bottom: 5rem;
    transition: 0.15s ease;
}

#join-button-main:hover {
    background-color: rgb(31, 218, 65);
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 10px rgba(253, 88, 88, 0.5));
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

#see-more-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    font-size: 1.3rem;
    transition: 0.3s ease;
}

#see-more-button:hover {
    animation: bounce 0.8s ease infinite;
    filter: drop-shadow(0px 0px 5px rgba(255, 218, 137, 0.3));
    opacity: 1;
}

#about ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

#about h2 {
    font-size: 5rem;
    background-color: 	#424549;
    width: 100vw;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0;
}

.sub-section-header {
    font-size: 3rem;
}

.our-story-header {
    background-color: #424549;
    padding: 2rem;
    border-radius: 6rem;

}

.main-story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    border-radius: 3rem;
    background-color: 	#2b2e31;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.our-story-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.our-story-container {
    display: flex;
    flex-direction: row;

}

.memory1 {
    width: 700px;
    height: 700px;
    border-radius: 20px;
    object-fit: cover;
}

p {
    font-size: 2rem;
    width: 70%;
    line-height: 3rem;
}

figcaption {
    text-align: center;
    opacity: 0.5;
}

figure {
    margin: 0;
    padding: 0;
}

.decor {
    color: 	#565a60;
}

.decor2 {
    color: #2b2e31;
    opacity: 0.5;
}

.pfp {
    border-radius: 150px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }

}